<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hal-Bot</title>
</head>

<body id="bodyid">

    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=129221391068505";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="../../public/assets/logo.png" /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <div class="fb-login-button" data-width="300" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="index-banner" class="search-container">
            <div class="header center">
                <h1><span></span>Hal-Bot</h1>
            </div>
        </div>
        <div class="container-full">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="small material-icons">search</i></label>
                </div>
            </form>
            <div class="row center">
                <a class="waves-effect waves-light btn main-button" href="#">Search</a>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="results-header"></div>
                </div>
                <div class="col s12 body">
                {{{ body }}}
                </div>
            </div>
        </div>
    </div>
    <script>
    $('.main-button').click(function() {
        $('.body').removeClass('scale-out').addClass('scale-in');
    })
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>
</html>
