<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Welcome to Hal-Bot-9000</h3>
    </div>
    <div class="panel-body">

      <h3>Project Synopsis</h3>
      <p>Hal-Bot is a "personal assistant" app that solves mathematical equations and allows users to search:</p>
      <ul>
        <li>Wikipedia</li>
        <li>Twitter</li>
        <li>Weather</li>
        <li>IMDB</li>
      </ul>

      <h3>Motivation</h3>
      <p>Having information at your fingertips is invaluable. Hal-Bot provides a variety of useful information, consolidated into one site. It can be expanded to include a dictionary, package tracking, and any number of facts that users need to be able to
        access quickly.</p>

      <h3>API Reference</h3>
      <p>We used the following APIs in this project:</p>
      <ul>
        <li>Wikipedia GET</li>
        <li>Twitter</li>
        <li>AccuWeather</li>
        <li>OMDB</li>
      </ul>

      <h3>Contriubtors</h3>

      <ul>
        <li>Abbey Hudson</li>
        <li>Alessandro Maclaine</li>
        <li>Nathan Bernabe</li>
        <li>Slater Combes</li>
      </ul>

      <h3>How to Use</h3>
      <p>By using these simple commands, Hal-Bot-9000 can return results from Twitter, Wikipedia, IMDB, and AccuWeather.</p>
      <ul>
        <li><b>Wikipedia:</b> Type in your search query</li>
        <li><b>Movie Information:</b> Type "movie" followed by the movie's title. ex/ "movie inception"</li>
        <li><b>Weather:</b> Type "weather in " followed by a city or place. ex/ "weather in Irvine"</li>
        <li><b>Twitter:</b> Requires a valid username as a search query. ex/ "tweets of barack obama" or " tweets of realDonaldTrump"</li>
      </ul>

    </div>
  </div>
</div>
