<a href="https://www.accuweather.com/en/us/current-weather/" class="aw-widget-legal"></a>

<div id="awtd1507488317027" class="aw-widget-36hour"  data-locationkey="{{Key}}" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1507488317027" data-editlocation="false"></div>

<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>