<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Wiki Search</h3>
    </div>
    <div class="panel-body">
      <iframe src="https://en.wikipedia.org/?curid={{this.pageid}}" height="800px" width="100%">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
  </div>
</div>
