.aw-search, .aw-get-this-widget, .aw-fc-status, .aw-mc, .aw-mc-promo {
  display: none;
}
/*
.results-header {
   background-color: salmon;
   height: 50px;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}*/
/*
.nav-wrapper {
  background-color: salmon;
}

#right-sidebar, #left-sidebar {
  background-color: salmon;
}*/

.jumbotron {
  height: 350px;
}

.search-container {
  padding-top: 30px;
}

.logo {
  margin-bottom: 50px;
}

#search {
  margin-bottom: 15px;
}

.fb-login-button {
  position: static;
}
